---
title: Product
description: Here is product page
suppress_header: true
extra_css:
  - product-page.css
---

<div class="blank-header">
  <div class="header-content">
    <% if category.name %>
      <h1><%= category.name %></h1>
    <% end %>
    <% if category.description %>
      <p><%= category.description %></p>
    <% end %>
  </div>
</div>
<div class="gitlab-content-container">
  <% data.features.features.each do |feature| %>
    <% if feature.category == category.name %>
      <p><%= feature.title %></p>
    <% end %>
  <% end %>
</div>
